NDC.SOAP.NUnit/Service References/SoapServiceReference/PersonService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NDC.SOAP.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NDC.SOAP.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SearchModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="DestinationEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxAge" type="xs:int" />
      <xs:element minOccurs="0" name="MaxHeigth" type="xs:int" />
      <xs:element minOccurs="0" name="MaxWeight" type="xs:double" />
      <xs:element minOccurs="0" name="MinAge" type="xs:int" />
      <xs:element minOccurs="0" name="MinHeigth" type="xs:int" />
      <xs:element minOccurs="0" name="MinWeight" type="xs:double" />
      <xs:element minOccurs="0" name="Names" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nationality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchModel" nillable="true" type="tns:SearchModel" />
</xs:schema>